fastapi~=0.116.1
uvicorn
pydantic~=2.11.7
requests~=2.32.4
PyMuPDF
google-generativeai
sentence-transformers~=5.0.0
scikit-learn~=1.7.1
numpy~=2.2.6
docx~=0.2.4
fitz
typing
dotenv
tempfile
os
email
protobuf~=5.29.5
python-docx~=1.2.0
faiss-cpu~=1.11.0.post1
python-dotenv~=1.1.1